<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
            @import url('https://fonts.googleapis.com/css2?family=Montserrat,400&display=swap');
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            height: 100svh;
        }

        .wrapper {
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f2f2f2;
        }

        .searchWeather {
            width: 50%;
            height: 500px;
        }

        .setWeather {
            width: 50%;
            height: 500px;
            margin: 15px;
            padding: 25px;
            border-radius: 15px;
            box-shadow: 0 0 5px darkgray;
            display: flex;
            flex-direction: column;
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .flexCenter {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left {
            width: 50%;
        }

        .right {
            width: 50%;
            font-size: 14px;
            border-left: 1px solid #eb6e4b;
            padding: 15px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .logo {
            height: 100px;
        }

        .form {
            margin: 5px 0;
        }

        .input {
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
            outline: none;
            width: 400px;
            box-shadow: 0 0 1px darkgray;
        }

        .lat {
            width: 183px;
        }

        .btn {
            width: 100px;
            border-radius: 0 5px 5px 0;
            margin-left: -10px;
            background-color: #48484a;
            color: #fff;
            cursor: pointer;
        }

        .data {
            color: #eb6e4b;
        }

        .titleWeather {
            font-size: 25px;
            font-weight: bolder;
            padding-bottom: 15px;
        }

        .imgBig {
            height: 70px;
        }

        .temperature {
            font-size: 35px;
            font-weight: bolder;
        }

        .forecast {
            margin-top: 25px;
        }

        .fiveForecast {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            box-shadow: 0 1px 0 darkgray;
        }

        .forecast30Left {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 5px 0 5px 10px;
        }

        .forecast30Right {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 5px 10px 5px 0;
        }

        .forecast20 {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .error {
            color: #eb6e4b;
            font-size: 15px;
            padding-left: 140px;
        }
    </style>
    <title>Login</title>
</head>
<body class="wrapper">
<div class="searchWeather">
    <img class="logo" src="https://seeklogo.com/images/O/openweather-logo-3CE20F48B5-seeklogo.com.png" alt="logo">
    <p class="data">{{dataToday}}</p>
    <br>
    <form class="form" action="/weather" method="post">
        <label>
            <input class="input" type="text" name="city" required placeholder="enter your city...">
            <input class="input btn" type="submit" value="search">
        </label>
    </form>
    <br>
    <form class="form" action="/weather" method="post">
        <label>
            <input class="input lat" type="text" name="latitude" required placeholder="enter your latitude...">
            <input class="input lat" type="text" name="longitude" required placeholder="enter your longitude...">
            <input class="input btn" type="submit" value="search">
        </label>
    </form>
    {{#if errorState}}
        <p class="error">-----  {{errorState}}  -----</p>
    {{/if}}
</div>

{{#if weatherToday}}

    <div class="setWeather">
        <div class="flex">
            <div class="left">
                <div class="titleWeather">{{weatherToday.name}}, {{weatherToday.sys.country}}</div>
                <div class="flexCenter">
                    {{#each weatherToday.weather}}
                        <img class="imgBig" src="http://openweathermap.org/img/w/{{this.icon}}.png" alt="icon">
                    {{/each}}
                    <div class="temperature">{{temperature}}&#8451</div>
                </div>
                <p>Feels like {{feelsLike}}&#8451 ( {{#each weatherToday.weather}}{{this.description}}{{/each}} )</p>
            </div>
            <div class="right">
                <div><b>Wind speed: </b>{{weatherToday.wind.speed}} m/s ( gust: {{weatherToday.wind.gust}} m/s )</div>
                <div><b>Humidity: </b>{{weatherToday.main.humidity}} %</div>
                <div><b>Pressure: </b>{{weatherToday.main.pressure}} hPa</div>
            </div>
        </div>
        <div class="forecast">
            <div class="titleWeather">5 day forecast</div>
            {{#each forecast}}
                <div class="fiveForecast">
                    <div class="forecast30Left">{{this.dataForecast}}</div>
                    <div class="forecast20">{{#each weather}}
                        <img src="http://openweathermap.org/img/w/{{this.icon}}.png" alt="icon">{{/each}}</div>
                    <div class="forecast20">{{this.tempForecast}}&#8451</div>
                    <div class="forecast30Right">{{#each weather}}{{this.description}}{{/each}}</div>
                </div>
            {{/each}}
        </div>
    </div>


{{/if}}




<script>

</script>
</body>
</html>